@media (max-width: 767px) {
  .center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; }
  #loginContainer {
    background-image: url('../images/img_low_res/login.jpg');
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0; }
    #loginContainer #loginInnerDiv {
      padding-top: 2em;
      padding-bottom: 3em;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.3em; }
      #loginContainer #loginInnerDiv h3 {
        font-size: 2em; } }

@media (min-width: 768px) {
  .center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center; }
  #loginContainer {
    background-image: url('../images/img_medium_res/login.jpg');
    text-align: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0; }
    #loginContainer #loginInnerDiv {
      padding-top: 2em;
      padding-bottom: 3em;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.3em; }
      #loginContainer #loginInnerDiv h3 {
        font-size: 2.3em; }
      #loginContainer #loginInnerDiv button {
        font-size: 2em; } }

@media (min-width: 1200px) {
  .center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center; }
  #loginContainer {
    background-image: url('../images/img_high_res/login.jpg');
    text-align: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0; }
    #loginContainer #loginInnerDiv {
      padding-top: 2em;
      padding-bottom: 3em;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.3em; }
      #loginContainer #loginInnerDiv h3 {
        font-size: 2em; } }


@media (max-width: 767px) {
  #navBar {
    display: none; }
  .navbarMobileClosed {
    display: inline;
    text-align: left;
    padding-left: 1em;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    width: 100%;
    height: 2.5em;
    padding-top: 0.5em;
    background: rgba(58, 146, 255, 0.95);
    font-size: 1.4em;
    color: white; }
    .navbarMobileClosed p {
      text-align: center;
      display: inline-flex;
      justify-content: center;
      width: 90%; }
  #mobileNavBarLinks {
    display: block;
    top: 2.85em;
    position: fixed;
    z-index: 4;
    width: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: width 300ms ease;
    -moz-transition: width 300ms ease; }
    #mobileNavBarLinks .navbarDivOpened {
      visibility: hidden;
      background: rgba(58, 146, 255, 0.95);
      text-align: left;
      padding: 0;
      padding-top: 1em;
      min-height: 50em;
      opacity: 1;
      font-size: 2em;
      color: white;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: visibility 100ms ease-out;
      -moz-transition: visibility 100ms ease-out; }
      #mobileNavBarLinks .navbarDivOpened #navbarOpenProfileImage {
        text-align: center;
        padding-bottom: 1em; }
        #mobileNavBarLinks .navbarDivOpened #navbarOpenProfileImage img {
          border-radius: 2em; }
      #mobileNavBarLinks .navbarDivOpened #navbarOpenLinks {
        text-align: center; }
        #mobileNavBarLinks .navbarDivOpened #navbarOpenLinks ul a {
          color: white; } }

@media (min-width: 768px) {
  #mobileNavBar {
    display: none; }
  #mobileNavBarLinks {
    display: none; }
  #navBar {
    text-align: center;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    flex-grow: 1; }
    #navBar .nav {
      width: 100%;
      height: 3em;
      text-align: center;
      padding-top: 0.6em;
      background: rgba(58, 146, 255, 0.95);
      box-shadow: 0px 5px 5px #D1D1D1;
      color: white;
      display: inline-flex;
      justify-content: space-around; }
      #navBar .nav ul {
        display: flex;
        align-items: center; }
        #navBar .nav ul a {
          color: white; }
        #navBar .nav ul li {
          display: inline;
          padding: 0 1em 0 1em;
          font-size: 1em;
          color: white; }
      #navBar .nav h3 {
        margin-top: 0; }
      #navBar .nav img {
        border-radius: 15px;
        max-width: 2em; } }



.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-in; }


.detailsContainer {
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  padding: 0;
  bottom: 0;
  width: auto;
  z-index: 1; }

@media (max-width: 767px) {
  .container {
    margin-top: 3em;
    padding: 0; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding-bottom: 15px; }
        .container #innerContainer .moviesContainer #discoveryChooserContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.4em; }
          .container #innerContainer .moviesContainer #discoveryChooserContainer div {
            text-align: center;
            font-size: 1.5em; }
        .container #innerContainer .moviesContainer .movie {
          margin-top: 1em;
          padding: 0 0 0 0;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            padding: 0 0 0 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            width: 100%;
            max-height: 5em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              display: none; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0 0 0 0;
              padding-left: 0.3em;
              text-align: center; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                font-size: 0.8em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .description {
              display: none; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding: 0;
              padding-right: 0.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1.2em;
                margin: 0 0 0 0;
                margin-top: 0.5em;
                margin-bottom: 0.5em; } }

@media (min-width: 768px) {
  .container {
    margin-top: 3em;
    padding-left: 0px;
    padding-right: 0px; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding: 0; }
        .container #innerContainer .moviesContainer #discoveryChooserContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.5em; }
          .container #innerContainer .moviesContainer #discoveryChooserContainer div {
            text-align: center; }
        .container #innerContainer .moviesContainer .movie {
          display: block;
          padding: 0 0 0 0;
          margin-right: 0em;
          margin-top: 0.5em;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            z-index: 0;
            padding: 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            max-height: 10em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              padding: 0; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .poster img {
                max-width: 97%;
                padding: 0 0 0 1px; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0;
              padding-left: 1em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                font-size: 1em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding-left: 0;
              padding-right: 0.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1.3em;
                margin-top: 0.4em; }
                .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 i {
                  margin-left: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer img {
                width: auto; } }

@media (min-width: 1200px) {
  .container {
    margin-top: 3em;
    padding-left: 0px;
    padding-right: 0px; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding: 0; }
        .container #innerContainer .moviesContainer #discoveryChooserContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.5em; }
          .container #innerContainer .moviesContainer #discoveryChooserContainer div {
            text-align: center; }
        .container #innerContainer .moviesContainer .movie {
          display: block;
          padding: 0 0 0 0;
          margin-right: 0em;
          margin-top: 0.5em;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            z-index: 0;
            padding: 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            max-height: 8em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              padding: 0; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .poster img {
                max-width: 105%;
                padding: 0 0 0 1px; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0;
              padding-left: 1em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em;
                margin-bottom: 0.2em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                text-align: justify;
                font-size: 1em;
                margin: 0; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding-left: 0;
              padding-right: 0.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1em;
                margin-top: 0.4em; }
                .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 i {
                  margin-left: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer img {
                width: auto; } }


/*# sourceMappingURL=allscss.css.map */