@media (max-width: 767px) {
  #navBar {
    display: none; }
  .navbarMobileClosed {
    display: inline;
    text-align: center;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    width: 100%;
    height: 3em;
    text-align: center;
    padding-top: 0.6em;
    background: rgba(58, 146, 255, 0.95); }
  #mobileNavBarLinks {
    display: none;
    top: 2.85em;
    position: fixed;
    z-index: 4;
    width: 85%; }
    #mobileNavBarLinks .navbarDivOpened {
      background: rgba(58, 146, 255, 0.95);
      text-align: center;
      padding-top: 1em;
      width: 100%;
      min-height: 50em;
      font-size: 2em;
      color: white; } }

@media (min-width: 768px) {
  #mobileNavBar {
    display: none; }
  #mobileNavBarLinks {
    display: none; }
  #navBar {
    text-align: center;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2; }
    #navBar .nav {
      width: 100%;
      height: 3em;
      text-align: center;
      padding-top: 0.6em;
      background: rgba(58, 146, 255, 0.95);
      box-shadow: 0px 5px 5px #D1D1D1; }
      #navBar .nav li {
        display: inline;
        padding: 0 1em 0 1em;
        font-size: 1.5em;
        color: white; } }



.detailsContainer {
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  padding: 0;
  bottom: 0;
  width: auto;
  z-index: 1; }

@media (max-width: 767px) {
  .container {
    margin-top: 3em;
    padding: 0; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding-bottom: 15px; }
        .container #innerContainer .moviesContainer .movie {
          margin-top: 1em;
          padding: 0 0 0 0;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            padding: 0 0 0 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            width: 100%;
            max-height: 5em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              display: none; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0 0 0 0;
              padding-left: 0.3em;
              text-align: center; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                font-size: 0.8em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .description {
              display: none; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding: 0;
              padding-right: 0.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1.2em;
                margin: 0 0 0 0;
                margin-top: 0.5em;
                margin-bottom: 0.5em; } }

@media (min-width: 768px) {
  .container {
    margin-top: 3em;
    padding-left: 0px;
    padding-right: 0px; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding: 0; }
        .container #innerContainer .moviesContainer .movie {
          display: block;
          padding: 0 0 0 0;
          margin-right: 0em;
          margin-top: 1em;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            z-index: 0;
            padding: 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            max-height: 10em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              padding: 0; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .poster img {
                max-width: 97%;
                padding: 0 0 0 1px; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0;
              padding-left: 1em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                font-size: 1em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding-left: 0;
              padding-right: 0.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1.3em;
                margin-top: 0.4em; }
                .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 i {
                  margin-left: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer img {
                width: auto; } }

@media (min-width: 1200px) {
  .container {
    margin-top: 3em;
    padding-left: 0px;
    padding-right: 0px; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding: 0; }
        .container #innerContainer .moviesContainer .movie {
          display: block;
          padding: 0 0 0 0;
          margin-right: 0em;
          margin-top: 1em;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            z-index: 0;
            padding: 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            max-height: 8em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              padding: 0; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .poster img {
                max-width: 105%;
                padding: 0 0 0 1px; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0;
              padding-left: 1em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em;
                margin-bottom: 0.2em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                text-align: justify;
                font-size: 1em;
                margin: 0; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding-left: 0;
              padding-right: 0.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1em;
                margin-top: 0.4em; }
                .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 i {
                  margin-left: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer img {
                width: auto; } }


/*# sourceMappingURL=allscss.css.map */