@media (max-width: 767px) {
  .container {
    padding: 0; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer .movie {
        padding-right: 0px;
        box-shadow: 3px 3px 5px #888888; }
        .container #innerContainer .moviesContainer .movie .detailsContainer {
          color: #000;
          background: rgba(255, 255, 255, 0.5);
          position: absolute;
          padding: 0;
          bottom: 0;
          width: auto;
          z-index: 1;
          max-height: 5em; }
          .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
            display: none; }
          .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
            text-align: center; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
              margin-top: 0.3em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
              font-size: 0.8em; }
          .container #innerContainer .moviesContainer .movie .detailsContainer .description {
            display: none; } }

@media (min-width: 768px) {
  .container {
    padding-left: 0px;
    padding-right: 0px; }
    .container #innerContainer {
      padding-left: 0px;
      padding-right: 0px; }
      .container #innerContainer .moviesContainer {
        padding: 0; }
        .container #innerContainer .moviesContainer .movie {
          display: block;
          padding: 0 0 0 0;
          margin-right: 0em;
          margin-top: 1em;
          box-shadow: 3px 3px 5px #888888; }
          .container #innerContainer .moviesContainer .movie .backdrop {
            z-index: 0;
            padding: 0; }
            .container #innerContainer .moviesContainer .movie .backdrop img {
              width: 100%; }
          .container #innerContainer .moviesContainer .movie .detailsContainer {
            color: #000;
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            padding: 0;
            bottom: 0;
            width: auto;
            z-index: 1;
            max-height: 10em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .poster {
              padding: 0; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .poster img {
                max-width: 100%;
                padding: 0 0 0 1px; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer {
              padding: 0;
              padding-left: 1em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h3 {
                margin-top: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .textContainer h5 {
                font-size: 1em; }
            .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer {
              text-align: right;
              padding-left: 0;
              padding-right: 1.5em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 {
                font-size: 1.3em;
                margin-top: 0.4em; }
                .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer h3 i {
                  margin-left: 0.3em; }
              .container #innerContainer .moviesContainer .movie .detailsContainer .ratingYearContainer img {
                width: auto; } }


/*# sourceMappingURL=allscss.css.map */