$screen-small-max: 767px;
$screen-medium-min: 768px;
$screen-high-min: 992px;
$screen-ultrahigh-min: 1200px;

//SMALLEST RESOLUTION
@media(max-width: $screen-small-max) {

  #discoveryChooserContainer {

    margin-top: 1em;
    padding: 0.5em;
    background-color: rgba(207,211,212, 0.7);
    border-radius: 0.3em;

    #discoveryChooserLabel {
      text-align: center;
      margin-top: 0.5em;

      h3 {
        margin: 0;
        margin-bottom: 0.3em;
        font-size: 1.2em;
      }

      div {
        text-align: center;
        font-size: 1.3em;
      }
    }

    #discoveryChooserButtons {
      display: flex;
      justify-content: flex-end;

      div {
        padding: 0;
      }

      button {
        font-size: 0.8em;

      }
    }
  }

}

//MEDIUM RESOLUTION
@media(min-width: $screen-medium-min) {

  #discoveryChooserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    min-height: 5em;

    #discoveryChooserLabel {

      h3 {
        margin: 0;
      }
    }

    div {
      text-align: center;
    }
  }

}

@media(min-width: $screen-ultrahigh-min) {

  #discoveryChooserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    min-height: 5em;

    #discoveryChooserLabel {

      h3 {
        margin: 0;
      }
    }

    div {
      text-align: center;
    }
  }
}
