$screen-small-max: 767px;
$screen-medium-min: 768px;
$screen-high-min: 992px;
$screen-ultrahigh-min: 1200px;

//SMALLEST RESOLUTION
@media(max-width: $screen-small-max) {

  #discoveryChooserContainer {

    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    width: 100%;

    margin-top: 1em;
    padding: 0em 0.5em 0.5em 0.5em;
    background-color: rgba(207,211,212, 0.85);

    #discoveryChooserLabel {
      display: none;
    }

    #discoveryChooserButtons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0.4em 0.8em 0em 0.8em;

      div {
        text-align: center;

        i {
          font-size: 2em;
        }
      }

      .bootstrapBtn {
        display: none;
      }

      .fontawesomeBtn {
        display: flex;
        justify-content: center;
      }

      .fontawesomeBtn:active {
        color: blue;
      }
    }
  }

}

//MEDIUM RESOLUTION
@media(min-width: $screen-medium-min) {

  #discoveryChooserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    min-height: 5em;

    #discoveryChooserLabel {

      h3 {
        margin: 0;
      }
    }

    div {
      text-align: center;
    }
  }

}

@media(min-width: $screen-ultrahigh-min) {

  #discoveryChooserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    min-height: 5em;

    #discoveryChooserLabel {

      h3 {
        margin: 0;
      }
    }

    div {
      text-align: center;
    }
  }

  #discoveryChooserButtons {
    display: flex;
    justify-content: space-between;
  }
}
