$screen-small-max: 767px;
$screen-medium-min: 768px;
$screen-high-min: 992px;
$screen-ultrahigh-min: 1200px;

//SMALLEST RESOLUTION
@media(max-width: $screen-small-max) {



}

//MEDIUM RESOLUTION
@media(min-width: $screen-medium-min) {



}

@media(min-width: $screen-ultrahigh-min) {

  #movieDetailsContainer {
    padding-left: 0;
    box-shadow: 3px 3px 5px #888888;

    #movieDetailsPoster {
      padding-left: 0;
    }

    background-color: #C7C9C9;

    #movieDetailsCrew {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .crewMember {
        text-align: center;

      }
    }

    #movieDetailsCredit {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .creditMember {
        text-align: center;
      }

      .creditMemberPic {
        box-shadow: 3px 3px 5px #888888;
        max-height: 8em;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2em;
        margin-bottom: 0.5;
      }
    }
  }
}
