$screen-small-max: 767px;
$screen-medium-min: 768px;
$screen-high-min: 992px;
$screen-ultrahigh-min: 1200px;

//SMALLEST RESOLUTION
@media(max-width: $screen-small-max) {



}

//MEDIUM RESOLUTION
@media(min-width: $screen-medium-min) {



}

@media(min-width: $screen-ultrahigh-min) {

  #movieDetailsCrew {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .creditMember {
      text-align: center;
    }

    .creditMemberPic {
      max-height: 8em;
      margin-left: 2em;
      margin-right: 2em;
      margin-top: 2em;
      margin-bottom: 0.5;
    }
  }


}
