$screen-small-max: 767px;
$screen-medium-min: 768px;
$screen-high-min: 992px;
$screen-ultrahigh-min: 1200px;

$navbarBackground: #90C3D4;
$navbarBoxShadow: 0px 5px 5px #D1D1D1;

//SMALLEST RESOLUTION
@media(max-width: $screen-small-max) {
  .nav {
    display: none;
  }
}

//MEDIUM RESOLUTION
@media(min-width: $screen-medium-min) {
  #navBar {
    text-align: center;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;

    .nav {
      width: 100%;
      height: 3em;
      text-align: center;
      padding-top: 0.6em;

      background: $navbarBackground;
      opacity: 0.8;
      filter: alpha(opacity=50);
      box-shadow: $navbarBoxShadow;

      li {
        display: inline;
        padding: 0 1em 0 1em;
        font-size: 1.2em;
      }
    }
  }

}
@media(min-width: $screen-ultrahigh-min) {

}
