$screen-small-max: 767px;
$screen-medium-min: 768px;
$screen-high-min: 992px;
$screen-ultrahigh-min: 1200px;
$navbarBackground: rgba(58, 146, 255, 0.95);
$navbarMobileOpenedBackground: rgba(58, 146, 255, 0.95);
$navbarBoxShadow: 0px 5px 5px #D1D1D1;
$mobileNavBarLinksTransition: width 300ms ease;
$mobileNavBarDivOpenedTransition: visibility 100ms ease-out;

//SMALLEST RESOLUTION
@media(max-width: $screen-small-max) {
  #navBar {
    display: none;
  }

  .navbarMobileClosed {
    display: inline;
    text-align: left;
    padding-left: 1em;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;

    width: 100%;
    height: 2.5em;
    padding-top: 0.5em;

    background: $navbarBackground;

    font-size: 1.4em;
    color: white;
  }

  #mobileNavBarLinks {
    display: block;
    top: 2.85em;
    position: fixed;
    z-index: 4;
    width: 0;
    -webkit-transition: $mobileNavBarLinksTransition;
    -moz-transition: $mobileNavBarLinksTransition;

    .navbarDivOpened {
      visibility: hidden;
      background: $navbarMobileOpenedBackground;
      text-align: left;
      padding: 0;
      padding-top: 1em;
      min-height: 50em;
      opacity: 1;
      font-size: 2em;
      color: white;
      -webkit-transition: $mobileNavBarDivOpenedTransition;
      -moz-transition: $mobileNavBarDivOpenedTransition;

      #navbarOpenProfileImage {

        text-align: center;
        img {
          border-radius: 2em;
        }
      }

      #navbarOpenLinks {

        ul {
          padding-left: 0.8em;
        }
      }
    }
  }

}

//MEDIUM RESOLUTION
@media(min-width: $screen-medium-min) {
  #mobileNavBar {
    display: none;
  }

  #mobileNavBarLinks {
    display: none;
  }

  #navBar {
    text-align: center;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;

    .nav {
      width: 100%;
      height: 3em;
      text-align: center;
      padding-top: 0.6em;

      background: $navbarBackground;
      box-shadow: $navbarBoxShadow;

      color: white;

      ul {
        padding-left: 9em;
      }

      li {
        display: inline;
        padding: 0 1em 0 1em;
        font-size: 1.5em;
        color: white;
      }

      #navbarProfile {

        float: right;
        img {
          border-radius: 15px;
          max-width: 2em;
        }
      }

    }
  }

}
@media(min-width: $screen-ultrahigh-min) {

}
