$fontColor: #ffffff;
$posterSize: 80%;
$detailsContainerZIndex: 1;
$detailsContainerFontColor: #000000;

.col-md-12 .detailsContainer {
  color: $detailsContainerFontColor;
  background: rgba(255, 255, 255, 0.5);

  position: absolute;
  padding: 0;
  bottom: 0;
  width: auto;

  z-index: $detailsContainerZIndex;

  .poster {
    padding: 0px;

    img {
      max-width: $posterSize;
      padding: 0px;
      padding-left: 1px;
    }
  }

  .textContainer {
    padding: 0px;

    h3 {
      margin-top: 0.4em;
    }
  }

  .ratingYearContainer {
    text-align: right;
    padding-left: 0;
    padding-right: 1.5em;

    h3 {
      font-size: 1.3em;
      margin-top: 0.4em;

      i {
        margin-left: 0.3em;
      }
    }

    img {
        width: auto;
    }
  }
}

.col-md-12 .moviesContainer {
  padding: 0px;

  .movie {
    display: block;
    padding: 0 15px 0 0;
    margin-top: 1em;

    .backdrop {
      z-index: 0;
      padding: 0px;

      img {
        width: 100%;
      }
    }
  }
}
