$fontColor: #ffffff;
$posterSize: 100%;
$detailsContainerZIndex: 1;
$detailsContainerFontColor: #000000;

.poster {
  padding: 0px;
  padding-left: 1em;

  img {
    max-width: $posterSize;
    padding: 0px;
  }
}

.textContainer {
  padding-right: 0px;
}

.col-md-12 .detailsContainer {
  color: $detailsContainerFontColor;
  background: rgba(255, 255, 255, 0.5);

  position: absolute;
  padding: 0;
  bottom: 0;

  z-index: $detailsContainerZIndex;
}

.ratingYearContainer {
    text-align: right;
}

.backdrop {
  position: absolute;
  z-index: 0;

  img {
      width: auto;
  }
}

.movie {
  display: inline;
}
